<!-- <p>vehicle-list works!</p> -->
<app-search></app-search>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbardropdown">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse  navbar-light navbar-light" id="navbardropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <div class="d-flex">
          <div class="flex-shrink-1">
            <a class="nav-link bg-dark text-light dropdown-toggle" href="#" id="navbarDropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">sort</i>
              Sort
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click)="sortByName()">Name</a>
              <a class="dropdown-item" (click)="sortByRent()">Rent</a>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <div class="d-flex">
          <div class="flex-shrink-1">
            <a class="nav-link bg-light text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">filter_list</i>
              Filter
            </a>
            <div class="dropdown-menu">
              <div class="dropdown-item bg-dark text-light" data-target="#seater">
                Filter by Seater
              </div>
              <a class="dropdown-item" (click)="filterBySeater(2)" id="seater">
                2
              </a>
              <a class="dropdown-item" (click)="filterBySeater(3)" id="seater">
                3
              </a>
              <a class="dropdown-item" (click)="filterBySeater(4)" id="seater">
                4
              </a>
              <a class="dropdown-item" (click)="filterBySeater(5)" id="seater">
                5
              </a>
              <div class="dropdown-item bg-dark text-light" data-target="#seater">
                Filter by Type
              </div>
              <a class="dropdown-item" (click)="filterByType('Car')" id="seater">
                Car
              </a>
              <a class="dropdown-item" (click)="filterByType('Auto')" id="seater">
                Auto
              </a>
              <a class="dropdown-item" (click)="filterByType('Bike')" id="seater">
                Motor Cycle
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3"
        *ngFor="let vehicle of vehicles | orderBy : sort : false : true | filterBy : filter">
        <app-vehicle-info [vehicle]="vehicle" [vehicleId]="vehicleId" (viewMore)="viewMore($event)"
          (removeVehicle)="removeVehicleFromList($event)">
        </app-vehicle-info>
      </div>
    </div>
  </div>
</div>