<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4 text-light font-weight-bold">Find Vehicle</h1>
        <div class="input-group">
            <div class="input-group-prepend mb-5">
                <span class="input-group-text" id="search"><i class="material-icons">search</i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search Vehicle" (input)="onSearchText($event)">
            <a [routerLink]="['/vehicle-edit']" >
                <button type="button" *ngIf="role == 'ADMIN'" class="btn btn-secondary">
                    <i class="material-icons text-light font-weight-bold">add</i>
                    <span class="text-light font-weight-bold"> Add Vehicle</span>
                </button>
            </a>
        </div>
    </div>
</div>

